<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.meetme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:label="Smap"
        android:icon="@drawable/smapicon"
        android:theme="@style/AppTheme">
        <activity
            android:name=".welcome"
            android:label="Smap"
            android:largeHeap="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_Activity" />
        <activity android:name=".HelloActivity" />
        <activity android:name=".Profile_Activity" />
        <activity android:name=".createevent" />
        <activity android:name=".eventlist" />
        <activity android:name=".eventinfos" />
        <activity android:name=".teilnehmerlist" />
        <activity android:name=".kontakte" />
        <activity android:name=".map" />
        <activity android:name=".help" />
        <activity android:name=".profilansicht"></activity>
    </application>

</manifest>